@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 110 242 255; /* #6EF2FF */
    --color-secondary: 250 207 6; /* #FACF06 */
  }

  body {
    padding-left: max(1.25rem, env(safe-area-inset-left));
    padding-right: max(1.25rem, env(safe-area-inset-right));
    padding-bottom: env(safe-area-inset-bottom);
  }
}
