---
import "../styles/base.css";

type Props = {
  title: string;
  description: string;
};

let { title, description } = Astro.props;

description = description.replace(/<[^>]*>/g, "");
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
  </head>
  <body class="bg-zinc-950 text-slate-400">
    <slot />
  </body>
</html>
